.social-icon {
    height: 2em;
    display: inline;
    margin-right: 1ex;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    margin-right: 1ex;
    margin-bottom: 1ex;
    font-size: small;
}

.intro-face-photo {
    border-radius: 50%;
    width: 10em;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}
