body, html {
    height: 100%;
    background-color: #2b2b2b;
    color: #dadada;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #dcdcdc;
    text-rendering: optimizeLegibility;
}

.page-title, .post-title, .post-title a {
    color: #dcdcdc;
}

code {
    color: #b15f67;
    background-color: #353535;
}

a {
    color: #d8ba42;
}

.related-posts li a:hover {
  color: #ffe064;
  text-decoration: none;
}

strong {
    color: #e6e6e6;
}

.social-media-row {
}

.social-icon {
    height: 2em;
    display: inline;
    margin-right: 1ex;
}

.content-area {
    min-height: 100%;
    position: relative;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1ex;
    font-size: small;
}

.intro-face-photo {
    border-radius: 50%;
    width: 10em;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 1em;
}

.intro-text {
}

p {
    margin-top: 1rem;
}

ul {
    margin-bottom: 0;
}

.subpage-list {
    text-align: right;
    list-style-type: none;
}

@media (min-width: 48em) {
    .subpage-list {
        text-align: initial;
    }

    .content-area {
        max-width: 48rem;
    }

    .intro-face-photo {
        float: left;
    }

    .intro-text {
        padding-left: 12em;
    }
}

.bodge-docstring {
    padding-left: 3em;
}
