{% capture rel_home %}{{ '/' | relative_url }}{% endcapture %}

<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ rel_home }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == rel_home %} active{% endif %}"
         href="{{ rel_home }}">Blog</a>

      {% assign page_list = site.pages | sort:"order" %}
      {% for node in page_list %}
        {% if node.root != null %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
         href="{{ node.url }}">{{ node.title }}</a>
          {% assign child_nodes = site.pages |
              where_exp:"item","item.parent == node.id" |
              sort:"order" %}
          {% assign active_child  = child_nodes | where_exp:"item","item.url == page.url" %}
          {% if child_nodes.size > 0 and (active_child.size > 0 or page.url == node.url)  %}
      <ul class="subpage-list">
            {% for child in child_nodes %}
              {% if node.id != null and child.parent == node.id %}
            <li>
              <a class="sidebar-nav-item{% if page.url == child.url %} active{% endif %}"
                 href="{{ child.url }}">{{ child.title }}</a>
            </li>
              {% endif %}
            {% endfor %}
      </ul>
          {%endif %}
        {% endif %}
      {% endfor %}
    </nav>

    {% include social.html %}
  </div>
</div>
