{% capture rel_home %}{{ '/' | relative_url }}{% endcapture %}

<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ rel_home }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == rel_home %} active{% endif %}"
         href="{{ rel_home }}">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
         href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>
      <a href="mailto:{{ site.author.email }}" target="_blank"><img src="{% link public/email.svg %}" class="social-icon"></a>
      <a href="{{ site.borodust.github }}" target="_blank"><img src="{% link public/gh.svg %}" class="social-icon"></a>
      <a href="{{ site.borodust.facebook }}" target="_blank"><img src="{% link public/fb.svg %}" class="social-icon"></a>
      <a href="{{ site.borodust.twitter }}" target="_blank"><img src="{% link public/twitter.svg %}" class="social-icon"></a>
    </p>
    <div class="copyright-container">
      <div>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</div>
      <div>&copy; <a href="https://www.iconfinder.com/iconsets/black-white-social-media" target="_blank">"Black White Social Media"</a> iconset by <a href="https://www.iconfinder.com/AlfredoCreates" target="_blank">Alfredo</a>, licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a></div>
    </div>
  </div>
</div>
