<div class="social-media-row">
  <a href="mailto:{{ site.author.email }}"
     target="_blank"><img src="{% link public/email.svg %}" class="social-icon"></a>
  <a href="{{ site.borodust.github }}"
     target="_blank"><img src="{% link public/gh.svg %}" class="social-icon"></a>
  <a href="{{ site.borodust.twitter }}"
     target="_blank"><img src="{% link public/twitter.svg %}" class="social-icon"></a>
  <a type="application/atom+xml"
     rel="alternate"
     href="{% link atom.xml %}"
     target="_blank"><img src="{% link public/atom.svg %}" class="social-icon"></a>
</div>
